name: Build & Test

on:
  push:
    branches: ['*']
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Liberate disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          large-packages: false
          docker-images: false
          swap-storage: false

      - name: Checkout Lean Same Branch
        id: lean-same-branch
        uses: actions/checkout@v4
        continue-on-error: true
        with:
          ref: ${{ github.ref }}
          repository: QuantConnect/Lean
          path: Lean

      - name: Checkout Lean Master
        if: steps.lean-same-branch.outcome != 'success'
        uses: actions/checkout@v4
        with:
          repository: QuantConnect/Lean
          path: Lean

      - name: Move Lean
        run: mv Lean ../Lean

      - uses: addnab/docker-run-action@v3
        with:
          image: quantconnect/lean:foundation
          options: --workdir /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }} -v /home/runner/work:/__w
          shell: bash
          run: |
            dotnet build ./QuantConnect.DataSource.csproj /p:Configuration=Release /v:quiet /p:WarningLevel=1 && \
            dotnet build ./tests/Tests.csproj /p:Configuration=Release /v:quiet /p:WarningLevel=1 && \
            dotnet test ./tests/bin/Release/net10.0/QuantConnect.DataSource.USDAFruitAndVegetables.Tests.dll \
              --filter "FullyQualifiedName~USDAFruitAndVegetableTests|FullyQualifiedName~USDAFruitAndVegetablesCollectionTests"
